DATABASE_URL=
BETTER_AUTH_SECRET=abcdefghijklmnopqrstuvwxyz
BETTER_AUTH_URL=http://localhost:8080
LANDING_URL=http://localhost:3000
ELECTRON_URL=http://localhost:5173
DESKTOP_APP_PROTOCOL=note-app
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
ASSEMBLYAI_API_KEY=