DATABASE_URL=
BETTER_AUTH_SECRET=abcdefghijklmnopqrstuvwxyz
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
ASSEMBLYAI_API_KEY=
GOOGLE_API_KEY=
SENTRY_DSN=
STRIPE_SECRET_KEY=sk_test_51RW7Hs2ckbUlIrdPd8MwJU2eul0M7i5VQZxvyXLNec1bSuVkA7I2TBAg50JVo1vdHHIZBrKOVCJt8rKGRjpSSf7E00bEWp9wZq
STRIPE_WEBHOOK_SECRET=